// you can change colors here
$font-family: 'JetBrains Mono';
$font-family-mono: 'JetBrains Mono';

.vp-notice-title {
  background-color: #706f6fd5;
}

// 设置全局字体
body, h1, h2, h3, h4, h5, h6, p, span, div, a, ul, ol, li, table, th, td, pre, code, kbd, samp {
  font-family: $font-family;
}

// 设置标题的字体和粗细
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

// 设置代码的字体
code, pre, kbd, samp {
  font-family: $font-family-mono;
}

.vp-card-title {
  color: #000000 !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}